<div class="details-container">
    {{#each details as |detail|}}
    <div class="item">
        <p>
            Name:
            <b>{{detail.name}}</b>
        </p>
        <p>
            Status:
            <b>{{detail.status}}</b>
        </p>
        <h5>
            <i class="bts bt-fw bt-info-circle h5"></i> Description
        </h5>
        <p>
            <i>{{detail.description}}</i>
        </p>
        <h5>
            <i class="bts bt-fw bt-info-circle h5"></i> Info
        </h5>
        <p>

        </p>
        <p>
            Severity:
            <b>{{detail.severity}}</b>
        </p>
        <p>
            Sensitivity:
            <b>
                {{detail.sensitivity}}
            </b>
        </p>
        <p>
            Label:
            <b>
                {{detail.label}}
            </b>
        </p>

        <h5>
            <i class="bts bt-fw bt-info-circle h5"></i> Tags
        </h5>

        <ul>
            {{#each detail.tags as |tag|}}
            <li>
                {{tag}}
            </li>
            {{/each}}
        </ul>

        <h5>
            <i class="bts bt-fw bt-info-circle h5"></i> Actions
        </h5>

        <button class="action-button">Run Action</button>
    </div>
    {{/each}}
</div>