{{#if (and details.onDemand details.entity)}}
  <div>
    <p>
      Name: <b>{{details.entity}}</b>
    </p>
    <p>
      Status: <b>This Entity does not exist in Phantom</b>
    </p>
    <div class="view-in-ts create-in-phantom">
      <a class="p-link" href={{details.link}}>Create Event in Phantom Dashboard
        {{fa-icon "external-link-square" class="external-link-icon"}}</a>
    </div>

    <h5>
      {{fa-icon "info-circle" fixedWidth=true}} Create Event and Run Playbook
    </h5>
    
    <div class="runnable-playbooks">
      <select size=3 onchange={{action 'onSelectPlaybook' value="target.value" }}>
        {{#each details.playbooks as |playbook|}}
          <option value="{{playbook.id}}">{{playbook.name}}</option>
        {{/each}}
      </select>
      <button {{action "runPlaybook" null details.entity }} class="btn material btn-primary">Run</button>
    </div>
    {{#if message.length}}
      <span class="message">{{message}}</span>
    {{/if}}
  </div>
{{else}}
  <div class="detailss-container">
    <div class="item">
      <p>
        Name: <b>{{details.result.name}}</b>
      </p>
      <p>
        Status: <b>{{details.result.status}}</b>
      </p>
      
      {{#if details.result.description}}
        <h5>
          {{fa-icon "file" fixedWidth=true}} Description
        </h5>
        <p>
          <i>{{details.result.description}}</i>
        </p>
      {{/if}}

      <h5>
        {{fa-icon "info-circle" fixedWidth=true}} Info
      </h5>
      
      <p>
        Severity: <b>{{details.result.severity}}</b>
      </p>
      <p>
        Sensitivity: <b>{{details.result.sensitivity}}</b>
      </p>
      <p>
        Label: <b>{{details.result.label}}</b>
      </p>

      {{#if details.result.tags.length}}
        <h5>
          {{fa-icon "info-circle" fixedWidth=true}} Tags
        </h5>
        <ul>
          {{#each details.result.tags as |tag|}}
            <li>
              {{tag}}
            </li>
          {{/each}}
        </ul>
      {{/if}}

      <h5>
        {{fa-icon "info-circle" fixedWidth=true}} Playbooks
      </h5>

      <div class="runnable-playbooks">
        <select size=3 onchange={{action 'onSelectPlaybook' value="target.value" }}>
          {{#each details.playbooks as |playbook|}}
            <option value="{{playbook.id}}">{{playbook.name}}</option>
          {{/each}}
        </select>
        <button {{action "runPlaybook" details.result.id}} class="btn material btn-primary">Run</button>
      </div>
      {{#if message.length}}
        <span class="message">{{message}}</span>
      {{/if}}

      {{#if details.playbooksRan.length}}        
        <h1 class="p-title">Playbook Run History</h1>
        <div class="wrap-container">
          {{#each details.playbooksRan as |playbookRun|}}
            <span class="playbook-container">
              {{playbookRun.playbookName}} (
              {{#if (gt playbookRun.successCount 0)}}
                <span style="color: green; font-weight: 500;">Succ {{playbookRun.successCount}}</span>
                {{if (or (gt playbookRun.pendingCount 0) (gt playbookRun.failureCount 0)) ","}}
              {{/if}}
              {{#if (gt playbookRun.pendingCount 0)}}
                <span style="color: orange; font-weight: 500;">Pend {{playbookRun.pendingCount}}</span>
                {{if (gt playbookRun.failureCount 0) ","}}
              {{/if}}
              {{#if (gt playbookRun.failureCount 0)}}
                <span style="color: red; font-weight: 500;">Fail {{playbookRun.failureCount}}</span>
              {{/if}})
            </span>
          {{/each}}
        </div>
      {{/if}}
    </div>
  </div>
{{/if}}